table.Matrix {width: 100%;}

li.InputfieldMatrix table tr {border: none;}

table.Matrix th {
	padding-bottom: 5px;
	font-weight: bold; 
}

table.Matrix tr:hover td, table.Matrix tr:hover th.MatrixRowNumber {background: #EEE;}

li.InputfieldMatrix table tr.highlight_row {background: #E8E8E8;}

table.Matrix input[type=text] {width: 100%;}

table.Matrix th,
table.Matrix td {
	padding: 6px 2px; 
	border-bottom: 1px solid #ddd; 
}

table.Matrix tbody > tr > td.MatrixRowHeader {
	padding-right: 10px;
	padding-left: 5px;
}

/* Button to clear/reset matrix values for selected rows + for data export*/
li.InputfieldMatrix button.MatrixReset,
li.InputfieldMatrix button.MatrixResetReno,
li.InputfieldMatrix button.MatrixExport,
li.InputfieldMatrix button.MatrixExportReno {
	float: right;
	margin: 0 0 20px 3px;
	padding: 0.3em 0.4em;
	font-weight: normal;
}

/*Reset and Export buttons for Reno need different padding*/
li.InputfieldMatrix button.MatrixResetReno > span,
li.InputfieldMatrix button.MatrixExportReno > span{
	padding: 0;
}

/*Checkbox in last column*/
li.InputfieldMatrix input[type=checkbox].MatrixCheckbox, li.InputfieldMatrix input[type=checkbox].MatrixToggleAll {margin-left: 3px;}

/*custom alert box jQuery UI Dialog*/
div.alert {border-radius: 5px;}
div.alert p {background: white; padding: 10px; margin: 10px; color: #395057;}
div.ui-dialog,
div.ui-dialog .ui-dialog-titlebar {background: #2F4248 !important;}

.wera-i-state-active {
color:blue;
background-color: initial !important;
}



