table.InputfieldMatrix {

	width: 100%;
}

.InputfieldMatrix table tr {
	border: none; 
}

.InputfieldMatrix th {
	padding-bottom: 5px;
	font-weight: bold; 
}

.InputfieldMatrix tr:hover td {
	background: #eee; 
}

.InputfieldMatrix input[type=text] {
	width: 100%; 
}
.InputfieldMatrix th,
.InputfieldMatrix td {
	padding: 6px 2px; 
	border-bottom: 1px solid #ddd; 
}


.InputfieldMatrix tbody > tr > td.MatrixRowHeader {

	padding-right: 10px;
}


/* Button to clear all/reset matrix values before save */
.InputfieldMatrixReset {
	float: right;
	margin-bottom: 20px;

}

.InputfieldMatrixReset:hover {
	cursor: pointer;

}



